
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#map {
	margin-top: 15px;
	height: 350px;
	width: 100%;
}

.panel-heading {
  	font-size: 20pt;
}

.panel-footer {
	font-size: 16pt;
  	background-color: white;
}

#contactHeader {
	font-size: 16pt;
}

#textLoggedIn {
	font-size: 12pt;
}
